html {
    scroll-behavior: smooth;
}

/* Custom Scrollbar */

/* Width, height, and color of scrollbar track */
::-webkit-scrollbar {
    width: 8px;
    /* width of the scrollbar */
    height: 8px;
    /* height of the scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #001f3f;
    /* navy blue color */
    border-radius: 10px;
    /* curved border radius */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
    background: #0074D9;
    /* navy blue color for the thumb */
    border-radius: 10px;
    /* curved border radius */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #005ca9;
    /* darker shade on hover */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #d7d7d7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

a {
    color: #d7d7d7;
}

.container a {
    text-decoration: none;
    color: #d7d7d7;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
}

.social-card {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    width: 90vw;
    border-radius: 8px;
    border: 2px solid;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.social-card:hover {
    box-shadow: 0 0 15px 5px #eb393a;
}

.icon {
    width: 3rem;
    height: 3rem;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 2.4rem;
    height: 2.4rem;
}

.username {
    font-weight: bold;
}

#twitterCard {
    border-color: #fff;
}

#facebookCard {
    border-color: #1877f2;
    /* Facebook color */
}

#tiktokCard {
    border-color: #00f2ea;
}

#youtubeCard {
    border-color: #ff0000;
}

#instagramCard {
    border-color: #833AB4;
}

#linkedinCard {
    border-color: #0a66c2;
}

#whatsappCard {
    border-color: #25d366;
}

#title {
    text-align: center;
}